body {
  display: flex;
  flex-direction: column;
}

.head img {
  height: 100px;
  width: 200px;
}
.top img {
  height: 100px;
  width: 120px;
}
.pants img {
  height: 140px;
  width: 140px;
}
.select-dropdown {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10%;
  align-items: left;
}
